<div id="loginpage" class="container">
    <div id="section1-login" class="login-card" class="row">
        <div class="col-md-12 card-body" >
            <h1 class="login-card-description">Log in to your account</h1>
            <form action="/login" method="POST">
                <label for="">Username</label>
                <input  class="form-control"  type="text" name="username" required>

                <label  for="">Password</label>
                <input class="form-control"  type="password" name="password" required>

                <button class="btn btn-block login-btn"type="submit">Login</button>
            </form>
            {{#if errorMessage}}
                <p>{{errorMessage}}</p>
            {{/if}}
        </div>
    </div>
</div>