<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Plan List</h1>
            <ul>
                <li>Plan 1</li>
                <li>Plan 2</li>
                <li>Plan 3</li>
            </ul>
            <form action="/create-plan" method="POST">
                <button type="submit">Create New</button>
            </form>
        </div>
    </div>
</div>