<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Plan List</h1>
            <form action="/create-plan" method="POST">
                <label>My Trip to</label>
                <input type="text" name="planName">
                <button type="submit">Create</button>
            </form>
            <ul>
                {{#each plans}}
                    <li>
                        <a href="/profile/{{id}}">My Trip to {{planName}}</a>
                        <form action="/profile/{{id}}/edit" method="GET">
                            <button type="submit">Edit</button>
                        </form>
                        <form action="/profile/{{id}}/delete" method="POST">
                            <button type="submit">Delete</button>
                        </form>
                    </li>
                {{/each}}    
            </ul>
        </div>
    </div>
</div>