body {
  padding: 50px;
  font: 14px  "Trip Sans VF","Trip Sans",Arial,sans-serif;;
 
}

a {
  color: #00b7ff;
}

h1 {
  color: 15px;
}


.homeimage h1{
  font-size: 15px;
  font-weight: bold;
}

#homeimage{
  display:flex;
  justify-content: space-between;

}

.placeholder{
  min-height: 4em;
  align-items: center;
  background-color:#ffffff;
  opacity:50;
  border-style:groove;
}


.searchform{
  background-image: url("/images/claudio-schwarz-kxAaw2bO1Z8-unsplash.jpg");
  background-size:cover;
  padding-top: 200px;
  padding-bottom: 200px;
  display: flex;
  align-content: center;
  align-items: stretch;
  justify-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
}

.searchtitle{
    align-self: center;
    position: absolute;
    padding-top: 100px;
    align-items: center;
    color:white;
}

.searchtitleflex{
  display: flex;
    flex-direction: column;
}
}