<div class="container-fluid">
    <div id="listOfLocations" class="row row-margin-top-30"> 
        <div  class="col-md-12"><h1>Explore and start planning</h1></div> 
    </div> 
    <div class="row row-margin-top-30">
        {{#each listOfPlaces}}
            <div class="col-md-3 listOfLocations"> 
                <a id="listLinks" href="/poi-detail/{{id}}">{{name}}</a>
                <img class="img-thumbnail img-fluid" src="{{images.0.source_url}}" />
                {{!-- <form action="/add-item" method="POST">
                <button type="submit">Add</button>
                </form> --}}
            </div>
        {{/each}}
    </div>
    <div class="row row-margin-top-30">
        <div class="col-md-12">
            <button onclick="goBack()">Go Back</button>    
        </div>
    </div>
</div>

<script> function goBack() {window.history.back()}; </script>


