<h1>{{name}}</h1>

<h3>Description: {{snippet}}</h3>
<p>Rating: {{score}}</p>
{{#each images}}
<img src="{{source_url}}" />
{{/each}}

<form action="/add-item" method="POST">
    <button type="submit">Add</button>
</form>



